<div class="row" style="background-color: #4592f7; padding-top:50; padding-bottom: 50"> 
    <div class="offset-lg-3 col-lg-6">
        <div class="card-deck">


            <div class="card" style="margin:10">
                <img class="card-img-top img-fluid" src="/images/cards/1.jpg">
                <div class="card-block">
                    <h4 class="card-title">{{.Conveniently}}</h4>
                    <p class="card-text">{{.ConvenientlyText}}</p>
                </div>
            </div>

            <div class="card" style="margin:10">
                <img class="card-img-top img-fluid" src="/images/cards/2.jpg">
                <div class="card-block">
                    <h4 class="card-title">{{.Fast}}</h4>
                    <p class="card-text">{{.FastText}}</p>
                </div>
            </div>
        
            <div class="card" style="margin:10">
                <img class="card-img-top img-fluid" src="/images/cards/3.jpg">
                <div class="card-block">
                    <h4 class="card-title">{{.Qualitatively}}</h4>
                    <p class="card-text">{{.QualitativelyText}}</p>
                </div>
            </div>

        </div>
    </div>
</div>