<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{.MainPage}}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            {{.Navbar}}
        </div>
    </body>
</html>