<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{.MainPage}}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/css/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                <button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand ml-5" href="#">
                    <img src="/images/logo.png" style="height:10%">
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">{{.Main}} <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{.Buy}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{.AboutUs}}</a>
                            </li>
                        	<li class="nav-item">
                                <a class="nav-link" href="#">{{.Contacts}}</a>
                            </li>	
                    </ul>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-outline-secondary">
							<input type="radio" name="options" id="ru" autocomplete="off" checked> Ru
						</label>
						<label class="btn btn-outline-secondary">
							<input type="radio" name="options" id="en" autocomplete="off"> En
						</label>
					</div>
                </div>
            </nav>
        </div>
    </body>
</html>