<!-- Big menu -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse hidden-md-down" style="padding: 0;">
    <div class="container-fluid">
    <div class = "row">
        <a class="navbar-brand" href="#" style="margin-top:15">
            <img src="/images/logo.png">
        </a>
        <ul class="navbar-nav" style="font-size:18; padding-top:0; padding-bottom:0; min-height:75px; margin-top:25"> 
            <li id="li-main" class="nav-item simple-link nav-item-big" data-menu-size="big" data-link-sm="#li-main-sm">
                <a class="nav-link" href="#" data-menu-size="big">{{.Main}} <span class="sr-only">(current)</span></a>
            </li>
            <li id="li-buy" class="nav-item simple-link nav-item-big" data-menu-size="big" data-link-sm="#li-buy-sm">
                <a class="nav-link" href="#" data-menu-size="big">{{.Buy}}</a>
            </li>
            <li id="li-about" class="nav-item simple-link nav-item-big" data-menu-size="big" data-link-sm="#li-about-sm">
                <a class="nav-link" href="#" data-menu-size="big" style="white-space:nowrap">{{.AboutUs}}</a>
            </li>
            <li id="li-contacts" class="nav-item simple-link nav-item-big" data-menu-size="big" data-link-sm="#li-contacts-sm">
                <a class="nav-link" href="#" data-menu-size="big">{{.Contacts}}</a>
            </li>
            <li class="nav-item nav-item-big">
                    <div class="btn-group" data-toggle="buttons" style="max-height: 50px; margin-top:5">
                    <button class="btn {{if eq .Language "ru"}} btn-primary active focus {{else}} btn-outline-secondary {{end}}" data-language="ru">Ru</button>
                    <button class="btn {{if eq .Language "en"}} btn-primary active focus {{else}} btn-outline-secondary {{end}}" data-language="en">En</button>
                </div>
            </li>	
            <li style="margin-left: 25;">
                <a href="#">
                    <img id="enter-img" src="/images/navbar/enter.svg"  class="ha-primary-round">
                </a>
            </li>
            <li class="nav-item">
                <a id="signin"  class="nav-link" href="#">{{.SignIn}}</a>
            <li>
            <li class="nav-plain">
                <label>/</label>
            </li>
            <li class="nav-item">
                <a id="register"  class="nav-link" data-toggle="modal" data-target="#myModal" href="#">{{.Register}}</a>
            <li>
        </ul> 

    </div>     
    </div>
</nav>

<!--Small menu -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse hidden-lg-up">
    <button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbar-small" aria-controls="navbar-small" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img class="navbar-brand" src="/images/logo.png">
    </a>

    <div class="collapse navbar-collapse" id="navbar-small">
        <ul class="navbar-nav mr-auto nav-justified" style="font-size:20; width:100%"> 
            <li id="li-main-sm" class="nav-item" data-link-big="#li-main">
                <a class="nav-link" href="#" data-menu-size="small">{{.Main}} <span class="sr-only">(current)</span></a>
            </li>
            <li id="li-buy-sm" class="nav-item" data-menu-size="small" data-link-big="#li-buy">
                <a class="nav-link" href="#" data-menu-size="small">{{.Buy}}</a>
            </li>
            <li id="li-about-sm" class="nav-item" data-menu-size="small" data-link-big="#li-about">
                <a class="nav-link" href="#" data-menu-size="small">{{.AboutUs}}</a>
            </li>
            <li id="li-contacts-sm" class="nav-item" data-menu-size="small" data-link-big="#li-contacts">
                <a class="nav-link" href="#" data-menu-size="small">{{.Contacts}}</a>
            </li>	

            <li class="nav-item">
                <div class="btn-group" data-toggle="buttons" style="max-height: 50px; margin-top:5%">
                    <button class="btn {{if eq .Language "ru"}} btn-primary active focus {{else}} btn-outline-secondary {{end}}" data-language="ru">Ru</button>
                    <button class="btn {{if eq .Language "en"}} btn-primary active focus {{else}} btn-outline-secondary {{end}}" data-language="en">En</button>
                </div>
            </li>
        </ul>
    </div>
</nav>

{{.Modals}}
