<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{.Registration}}</h4>
            <a href="#" data-dismiss="modal">
                <img id="close-register-img" src="/images/navbar/modals/close.svg"  class="ha-primary-round-sm">
            </a>
        </div>
       
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
       
        <div class="modal-footer">
          <!--  <button type="button" class="btn btn-primary">Close</button>-->
        </div>
    </div>

    </div>
</div>