<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{.Registration}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<script src="/scripts/jquery-3.2.1.min.js"></script>
	<script>

		$(document).ready( function() {
			/*$("#name").on("input", function() {
				if ($("#name").val().length > 0) {
					$("#name-div").removeClass("has-danger");
					$("#name").removeClass("form-control-danger");
					$("#name-div").addClass("has-success");
					$("#name").addClass("form-control-success");
					$("#name-error").addClass("collapse");
				} else {
					$("#name-div").removeClass("has-success");
					$("#name").removeClass("form-control-success");
					$("#name-error").removeClass("collapse");
					$("#name-div").addClass("has-danger");
					$("#name").addClass("form-control-danger");
				}
			});*/
			$("#register").click(function() {
				$.post(
					"/register/enter", {email: $("#email").val(), name: $("#name").val(), 
					password: $("#password").val()
				}, function(data) {
					alert('dsdfsdf');
				});
			});
		});
	</script>
    <body bgcolor>
        
		<div class="container">
			<div class="row">
				<div class="offset-md-2 col-md-8 offset-lg-4 col-lg-4">
					<div class="card">
						<div class="row">
							<div class="offset-3 col-6">
								<img src="/images/logo.png" style="width:100%; display:block; margin-top:5%"/>
							</div>

							<div class="offset-1 col-10">
								<form id="reg-form">
									<div class="form-group" id="email-div">		
										<label for="email">Email:</label>
										<input type="email" id="email" class="form-control" placeholder="Email" autofocus>
										<div id="email-error" class="form-control-feedback collapse">Input your email please</div>
									</div>

									<div class="form-group" id="name-div">		
										<label for="name">{{.Name}}:</label>
										<input type="name" id="name" class="form-control" placeholder="{{.Name}}" autofocus>
										<div id="name-error" class="form-control-feedback collapse"></div>
									</div>
									
									<div class="form-group has-danger" id="password-div">		
										<label class="form-control-label" for="password">{{.Password}}:</label>
										<input type="password" id="password" class="form-control form-control-danger" placeholder="{{.Password}}" autofocus>
										<div id="password-error" class="form-control-feedback collapse"></div>
									</div>

									<div class="form-group">
										<button id="register" type="button" class="btn btn-success" style="margin-top:5%; width:100%">{{.Register}}</button>
										<button type="button" class="btn btn-secondary" style="margin-top:5%; width:100%">{{.Cancel}}</button>
									</div>

								</form>
							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>