body {
    background-color: #CACACA;
}

.first-control {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.middle-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.last-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

