body {
    background-color: #DCDCDC;
}

.first-control {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.middle-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.last-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.active-link {
    border-bottom:7px solid #5db4e3;
}

.simple-link {
    border-bottom:7px solid transparent;
}

.active-link-sm {
    border-bottom:3px solid #5db4e3;
}

body {
    padding-top:15rem
}

.nav-item-big {
    width:100px
}

.nav-item-small {
    width:50px
}

.nav-plain {
    color: #DCDCDC;
    margin-top:10
}

.nav-item {
    text-align: center;
    white-space: nowrap
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block
}

.ha-primary-round {
    background-color: #0F0F0F;
    height: 50px; 
    border-radius: 50px
}

.ha-primary-round-sm {
    background-color: #0F0F0F;
    height: 25px; 
    border-radius: 25px
}

.ha-primary-btn {
    background-color: #0F0F0F; 
    border-radius: 0.5rem;
    color: #DCDCDC;
    border: none;
}

.ha-active-btn {
    background-color: #5db4e3;
    border-radius: 0.5rem;
    color: #DCDCDC;
    border: none;
}

.ha-btn {
    padding: 0.5rem;
}

.ha-btn-sm {
    padding: 0.3rem;
}

.ha-btn,
.ha-btn-sm {
    border: none;
    border-radius: 0.5rem;
    color: #DCDCDC;
}

.ha-btn,
.ha-btn-sm,
.ha-img-btn {
    cursor: pointer
}

.ha-btn-sm {
    font-size: 16;
}

.ha-primary {
    background-color: #0F0F0F;
    color: #DCDCDC
}

.ha-active {
    background-color: #5db4e3;
}

.ha-mouseenter {
    background-color: #DCDCDC;
    color: #0F0F0F
}

.ha-pressed {
    background-color: #509bc4;
    color: #DCDCDC
}

.ha-round-big {
    height: 50px; 
    border-radius: 50px
}

.ha-round-sm {
    height: 25px; 
    border-radius: 25px
}

.ha-controls-group,
.ha-controls-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.ha-controls-group > .ha-btn,
.ha-controls-group > .ha-btn-sm {
    flex: 0 1 auto;
}

.ha-controls-group-vertical > .ha-btn-sm:last-child, 
.ha-controls-group-vertical > .ha-btn:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.ha-controls-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ha-controls-group-vertical > .ha-btn-sm, 
.ha-controls-group-vartical > .ha-btn {
    width: 100%
}

.ha-controls-group-vertical > .ha-btn-sm:first-child, 
.ha-controls-group-vartical > .ha-btn:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

