body {
    background-color: #CACACA;
}

.first-control {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.middle-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.last-control {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.active-link {
    margin-top:5%;
    border-bottom:7px solid #5db4e3;
    min-height: 100px;
}

.simple-link {
    margin-top:5%;
     border-bottom:7px solid transparent;
    min-height: 100px;
}

.active-link-sm {
    border-bottom:3px solid #4592f7;
}

body {
    padding-top:15rem
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block
}


